@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css");

:root {
  --color-sidenav-primary: #247159;
  --color-sidenav-secondary: #1c5e48;
  --color-progressbar-primary: #247159;
  --color-accoridon-background: #fff;
  --color-button-backgroud: #1c5e48;
  --color-buttonhover-backgroud: #ccc;
  --color-buttonactive-secondary: #1c5e48;
  --color-hover-background: #cfcccc;
  --color-text-primary: #ffffff;
  --color-text-secondary: #222222;
  --color-text-secondary-light: #333333;
  --color-form-primary: #ffffff;
  --color-panel-background: #fff;
  --color-preview-border: #f15a32;
  --color-modal-background: #fff;
  --color-input-background: #44967c70;
  --color-inputplaceholder-background: #000000;
  --color-hamburgerbutton-background: #44967c54;
  --color-green: #54cc96;
  --color-greenhover: #40a879;
  --color-greenbackground: #54cc9652;
  --color-red: #fb555e;
  --color-redhover: #d44950;
  --color-redbackground: #fb555d59;
  font-size: 85%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body,
input,
button,
textarea {
  font-family: "Inter", sans-serif;
}
