<%- contentFor('title') %>
Missões Semanais

<%- contentFor('main') %>
<div class="mission-week-container">
    <div class="header-week-mission">
     <h2>Missões Semanais</h2>
    </div>
    <div class="header-mission-2">
        <h3>Metas: 2/8</h3>
    </div>
    <div class="mission-week-box-container">
         <div>
            <p>Se cadastre em um curso de Inglês</p>
            <button class="btn-box"><i class='bx bx-star'></i></button>
         </div>
    </div>
    <div class="mission-week-box-container-2">
        <div>
           <p class="text-week-mission"><i class='bx bxs-check-circle' style='color:#0299ff'></i>Se cadastre em um curso de Espanhol</p>
           <button class="btn-box"><i class='bx bxs-star' style='color:#ffe602'></i></button>
        </div> 
   </div>
   <div class="mission-week-box-container">
    <div>
       <p>Isso é um teste, alo carlos</p>
       <button class="btn-box"><i class='bx bx-star'></i></button>
    </div>
</div>
<div class="mission-week-box-container-2">
   <div>
      <p class="text-week-mission"><i class='bx bxs-check-circle' style='color:#0299ff'></i>Isso é um teste, alo César</p>
      <button class="btn-box"><i class='bx bxs-star' style='color:#ffe602'></i></button>
   </div>
</div>
